@import url('https://cdn.cursors-4u.net/cursors/animated/baby-blue-spinning-heart-within-a-heart-3c401aa2-32.css');

/* 여기에 나머지 스타일 추가 */
img {
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}

::selection {
  background: #c1c1c1;
  color: #5f5f5f;
}

::-moz-selection {
  background: #c1c1c1;
  color: #5f5f5f;
}
